@media screen and (max-width: 640px) {
    .container .container-porfolio .skills-imgs {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .container {
        width: 33.33333%;
    }
}