body {
    font-family: 'Roboto', sans-serif;
    .container {
        width: 95%;
        max-width: 1000px;
        margin: 0 auto;
    }
    header {
        width: 100%;
        padding: 1em 0;
    }
}